.reports-page {
  .create-report-btn {

  }
}
.filter-sorter{
  float: right;

  &__select {
    display: inline-block;
    margin-left: 5px;
    width: 50px;
  }
}

table.report-table {
  margin: 10px 0;

  tbody>tr>td {
    vertical-align: middle;
  }
}

.report-table__item {
  &--action{
    text-align: center;
  }
}

.sorter-icon {
  margin-left: 5px;
}

.field__sortable {
  cursor: pointer;
}

.copy-link {
  &,
  &:hover,
  &:visited {
    color: #166240;
  }
}

.delete-link {
  &,
  &:hover,
  &:visited {
    color: #a22d30;
  }
}

.autosuggest {
  a {
    cursor: pointer;
  }
}

.loader-container {
  background: #fdf5eb;
  border: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  left: 50%;
  margin-left: -10px;
  padding: 5px 10px;
  position: fixed;
  top: 0;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
    margin-right: 5px;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.error-block {
  white-space: pre-wrap;
}

.form-item__access-group {
  position: relative;
}

.input-loader {
  position: absolute;
  right: 5px;
  bottom: 7px;
}
