
.reports-page {
  .create-report-btn {

  }
}
.filter-sorter{
  float: right;

  &__select {
    display: inline-block;
    margin-left: 5px;
    width: 65px;
  }
}

table.report-table {
  margin: 10px 0;

  tbody>tr>td {
    vertical-align: middle;
  }
}

.report-table__item {
  &--action{
    text-align: center;
  }
}

.sorter-icon {
  margin-left: 5px;
}

.field__sortable {
  cursor: pointer;
}

.copy-link {
  &,
  &:hover,
  &:visited {
    color: #166240;
  }
}

.delete-link {
  &,
  &:hover,
  &:visited {
    color: #a22d30;
  }
}

.search {
  display: inline-block;
  margin-left: 30px;

  &_field {
    width: 300px;
    display: inline-block;
    margin-left: 8px;
  }
}
